:root {

    /* VARIABLES */
    --back-principal-dark: black;
    --back-principal-light: lightgray;
    --back-principal-medium: rgb(136, 133, 143);

}

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}